<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
	<div class="layui-form layuimini-form">
		<!--  车辆所属仓库-->
		<div class="layui-form-item">
			<label class="layui-form-label">仓库编号</label>
			<div class="layui-input-inline">
				<select th:field="*{E}">.0
					<option value="">请选择公司名称</option>
					<option th:each="stash:${stashList}" th:value="${stash.stashId}">
						<span th:text="${stash.SName}"></span>
					</option>
				</select>
			</div>
		</div>
		<!-- 驾驶员 -->
		<div class="layui-form-item">
			<label class="layui-form-label">驾驶员</label>
				<div class="layui-input-inline">
					<select name="eId" lay-verify="" lay-search>
						<option value ="">请选择一个驾驶员编号</option>
						<!-- 可以自己设置 -->
						<option value="1004">1004_章君</option>
						<option value="1009">1009_叶院</option>
						<option value="1010">1010_李玉恭</option>
						<option value="1011">1011_温如</option>
						<option value="1256">1256_马清</option>
						<option value="1818">1818_那易</option>
						<option value="1984">1984_张璇</option>
					</select>
				</div>
		</div>
		
		<!-- 有效期限 -->
		<div class="layui-form-item">
			<label class="layui-form-label">有效期限</label>
			<div class="layui-input-block">
				<input type="text" name="tLimit" lay-verify="required" lay-reqtext="有效期限不能为空" placeholder="请输入有效期限" value="" class="layui-input">
			</div>
		</div>
		
	</div>
	</div>
	<script src="../../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script th:inline="javascript">
		var contextPath = [[@{/}]];
		layui.use(['form'], function () {
			var form = layui.form,
				layer = layui.layer,
				$ = layui.$;

			//监听提交
			form.on('submit(saveBtn)', function (data) {
				var url = contextPath + "vehicle"
				console.log(data.field)//当前容器所有表单字段
				//异步请求提交数据
				$.post(url, data.field,function(response){
					if(response.code == 0){
						//成功提示
						layer.msg(response.msg,{
							icon:1,
							time:1000
						},function (){
							// 刷新表格
							parent.refreshTable();
							// 关闭弹出层
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层索引
							parent.layer.close(index);//执行关闭
						})
					}else {
						//失败则提示错误信息，窗口不关闭
						layer.msg(response.msg, {
							icon: 2,
							anim: 6,
							time: 2000
						});
					}
				});
				return false;
			});

		});
	</script>
</body>
</html>