<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="utf-8">
		<title>公司简介板块</title>
		<!-- 引入LayUI的css文件 -->
		<link rel="stylesheet" href="../static/lib/layui-v2.6.3/css/layui.css" media="all">
		<script src="../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
		<!-- 添加了一个名为 .panel 的 CSS 类来定义面板的样式，包括边框、内边距和外边距等属性 -->
		<style>
        .panel {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }
        .panel h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }
    </style>
	</head>
	<body>
		<div class="panel">
		        <h1 style="text-align: center;">公司简介</h1>
			</div>
			
			<p style="text-indent: 2em;">我们是一家专注于互联网技术研发的公司，致力于为客户提供优质的产品和服务。</p>
			<script th:inline="javascript">
		        layui.use(['element'], function(){
		            var element = layui.element;
		        });
		    </script>
	</body>
</html>