<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
	<div class="layui-form layuimini-form">
	<!-- 字段的匹配看是否为主键，如果不是，这个lay-verify="required" lay-reqtext="员工ID不能为空" 可以删掉，就可以不写这个东西也可以提交-->
			<!-- 机电编号 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">机电编号</label>
				<div class="layui-input-inline">
					<input type="number" name="m_id" lay-verify="required" lay-reqtext="机电编号不能为空" placeholder="请输入机电编号" value="" class="layui-input">
				</div>
			</div>
			<!-- 设备名称 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">设备名称</label>
				<div class="layui-input-inline">
					<input type="text" name="m_name" lay-verify="required" lay-reqtext="设备名称不能为空" placeholder="请输入设备名称" value="" class="layui-input">
				</div>
			</div>
			<!-- 设备型号 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">设备型号</label>
				<div class="layui-input-inline">
					<input type="text" name="model_num" lay-verify="required" lay-reqtext="设备型号不能为空" placeholder="请输入设备型号" value="" class="layui-input">
				</div>
			</div>
			<!--  设备所属仓库-->
			<div class="layui-form-item">
				<label class="layui-form-label required">仓库名</label>
				<div class="layui-input-inline">
					<select name="stash_id" lay-verify="" lay-search>
						<option value ="">请选择所属仓库名字</option>
						<!-- 可以自己设置 -->
						<option value="1247">狼堡仓库</option>
						<option value="4563">青青草原仓库</option>
						<option value="5436">靠谱仓库</option>
						
					</select>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label required">设备状态</label>
				<div class="layui-input-inline">
					<select name="v_status" lay-verify="" lay-search>
						<option value ="">请选择设备状态</option>
						<!-- 可以自己设置 -->
						<option value="1">1_仍在使用</option>
						<option value="2">2_报废</option>
						
					</select>
				</div>
			</div>
			
			<!--  -->
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
				</div>
			</div>
			<!--  -->
	</div>
	<script src="../../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script>
		layui.use(['form'], function () {
			var form = layui.form,
				layer = layui.layer,
				$ = layui.$;

			//监听提交
			form.on('submit(saveBtn)', function (data) {
				var index = layer.alert(JSON.stringify(data.field), {
					title: '最终的提交信息'
				}, function () {

					// 关闭弹出层
					layer.close(index);

					var iframeIndex = parent.layer.getFrameIndex(window.name);
					parent.layer.close(iframeIndex);

				});

				return false;
			});

		});
	</script>
</body>
</html>