<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.system.pojo.Employee">
            <id property="eId" column="e_id" jdbcType="INTEGER"/>
            <result property="cId" column="c_id" jdbcType="INTEGER"/>
            <result property="eName" column="e_name" jdbcType="VARCHAR"/>
            <result property="ePhone" column="e_phone" jdbcType="BIGINT"/>
            <result property="eSex" column="e_sex" jdbcType="VARCHAR"/>
            <result property="salary" column="salary" jdbcType="DECIMAL"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        e_id,c_id,e_name,
        e_phone,e_sex,salary,
        position
    </sql>
</mapper>
