<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
	<div class="layui-form layuimini-form">
	<!-- 字段的匹配看是否为主键，如果不是，这个lay-verify="required" lay-reqtext="员工ID不能为空" 可以删掉，就可以不写这个东西也可以提交-->
			<!-- 包裹号 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">包裹号</label>
				<div class="layui-input-inline">
					<input type="text" name="g_id" lay-verify="required" lay-reqtext="包裹号不能为空" placeholder="请输入包裹号" value="" class="layui-input">
				</div>
			</div>
			
			<!-- 发件人姓名 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">发件人姓名</label>
				<div class="layui-input-inline">
					<input type="text" name="adresser" lay-verify="required" lay-reqtext="发件人姓名不能为空" placeholder="请输入发件人姓名" value="" class="layui-input">
				</div>
			</div>
			<!-- 收件人姓名 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">收件人姓名</label>
				<div class="layui-input-block">
					<input type="text" name="consignee" lay-verify="required" lay-reqtext="收件人不能为空" placeholder="请输入收件人" value="" class="layui-input">
				</div>
			</div>
			<!--  货物重量-->
			<div class="layui-form-item">
				<label class="layui-form-label required">货物重量</label>
				<div class="layui-input-block">
					<input type="number" name="weight" lay-verify="required" lay-reqtext="货物重量不能为空" placeholder="请输入货物重量" value="" class="layui-input">
				</div>
			</div>
			<!--发件地-->
			<div class="layui-form-item">
				<label class="layui-form-label required">发件地</label>
				<div class="layui-input-block">
					<input type="text" name="departure_place" lay-verify="required" lay-reqtext="发件地不能为空" placeholder="请输入发件地" value="" class="layui-input">
				</div>
			</div>
			<!-- 收件地 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">收件地</label>
				<div class="layui-input-block">
					<input type="text" name="reach_place" lay-verify="required" lay-reqtext="收件地不能为空" placeholder="请输入收件地" value="" class="layui-input">
				</div>
			</div>
			<!-- 公司代号 -->
			<div class="layui-form-item">
				<label class="layui-form-label required">公司代号</label>
					<div class="layui-input-inline">
						<select name="c_id" lay-verify="" lay-search>
							<option value ="">请选择一个公司代号</option>
							<!-- 可以自己设置 -->
							<option value="1">1_中通快递</option>
							<option value="2">2_韵达快递</option>
							<option value="3">3_申通快递</option>
							<option value="4">4_德邦</option>
							<option value="5">5_圆通快递</option>
							<option value="6">6_百世</option>
							<option value="7">7_轩然公司</option>
						</select>
					</div>
			</div>
			<!--  货物状态-->
			<div class="layui-form-item">
				<label class="layui-form-label required">货物状态</label>
				<div class="layui-input-inline">
					<select name="g_type" lay-verify="" lay-search>
						<option value ="">请选择货物状态</option>
						<!-- 可以自己设置 -->
						<option value="1">1_运输中</option>
						<option value="2">2_仓库中</option>
						
					</select>
				</div>
			</div>
			<!-- 所属仓库 -->
			<div class="layui-form-item">
				<label class="layui-form-label">仓库名</label>
				<div class="layui-input-inline">
					<select name="s_name" lay-verify="" lay-search>
						<option value ="">请选择所属仓库名字</option>
						<!-- 可以自己设置 -->
						<option value="狼堡仓库">狼堡仓库</option>
						<option value="青青草原仓库">青青草原仓库</option>
						<option value="靠谱仓库">靠谱仓库</option>
						
					</select>
				</div>
			</div>
			<!-- 车牌号 -->
			<div class="layui-form-item">
				<label class="layui-form-label">车牌号</label>
				<div class="layui-input-inline">
					<select name="v_id" lay-verify="" lay-search>
						<option value ="">请选择所属车辆车牌号</option>
						<!-- 可以自己设置 -->
						<option value="川A-40989">川A-40989</option>
						<option value="川B-54789">川B-54789</option>
						<option value="川B-6578">川B-6578</option>
						<option value="浙B-55473">浙B-55473</option>
					</select>
				</div>
			</div>
			<!--  -->
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
				</div>
			</div>
			<!--  -->
	</div>
	<script src="../../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script>
		layui.use(['form'], function () {
			var form = layui.form,
				layer = layui.layer,
				$ = layui.$;

			//监听提交
			form.on('submit(saveBtn)', function (data) {
				var index = layer.alert(JSON.stringify(data.field), {
					title: '最终的提交信息'
				}, function () {

					// 关闭弹出层
					layer.close(index);

					var iframeIndex = parent.layer.getFrameIndex(window.name);
					parent.layer.close(iframeIndex);

				});

				return false;
			});

		});
	</script>
</body>
</html>