<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<meta charset="utf-8">
	    <title>主页一</title>
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <link rel="stylesheet" href="../../static/lib/layui-v2.6.3/css/layui.css" media="all">
	    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
	    <link rel="stylesheet" href="../../static/css/public.css" media="all">
	</head>
	<style>
	    .layui-top-box {padding:40px 20px 20px 20px;color:#fff}
	    .panel {margin-bottom:17px;background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
	    .panel-body {padding:15px}
	    .panel-title {margin-top:0;margin-bottom:0;font-size:14px;color:inherit}
	    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
	    .layui-red {color:red}
	    .main_btn > p {height:40px;}
	</style>
	<body>
		<div class="layuimini-container">
			<div class="layui-box">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md12">
						<img src="../../static/images/company.jpg" alt="轩然物流管理公司,静待各位有梦想的青年的到来" width="1400px" height="600px">
					</div>
					<div class="layui-col-md12">
						<div class="layui-card top-panel">
							<br>轩然物流公司是一家专业的物流服务提供商，致力于为客户提供高质量的物流解决方案。我们的使命是通过卓越的服务质量和创新的物流方案，为客户创造价值并实现业务成功。
							<br>
							<br>作为一家领先的物流公司，我们拥有广泛的网络和全球资源，覆盖亚洲、欧洲和北美地区。我们提供全面的物流服务，包括运输、仓储、配送、供应链管理等。无论是小规模的货物运输还是大型供应链项目，我们都能提供个性化的解决方案，满足客户的需求。
							<br>
							<br>轩然物流以客户为中心，注重服务质量和客户满意度。我们拥有专业的团队和先进的技术，通过精细化的运营管理和全程跟踪，确保货物安全、准时送达。我们与合作伙伴紧密合作，建立稳定的合作关系，以共同提供优质的物流服务。
							<br>
							<br>除了专注于客户需求，轩然物流也积极履行企业社会责任。我们采取环境友好的措施，致力于减少碳排放和资源浪费。我们积极参与社区和公益活动，为社会发展做出贡献。
							<br>
							<br>无论是国内还是跨国物流，轩然物流都将以卓越引领，共创未来。我们追求持续改进和创新，以满足不断变化的市场需求。我们始终坚持客户至上、团队协作和持续学习的核心价值观，为客户提供最佳的物流体验。
							<br>
							<br>日期：2023年7月16日
							<br>
							<br>

						</div>
					</div>
				</div>
				
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md6">
						<h2 style="text-align:center;">轩然公司创始人简介</h2>
						<hr>
						<table class="layui-table">
							<colgroup>
								<col width="150">
								<col width="200">
								<col>
							</colgroup>
							<thead>
							<tr>
								<th>姓名</th>
								<th>岗位</th>
								<th>经历简介</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>需要用</td>
								<td>创始人</td>
								<td>毕业于四川大学，曾任雀德企业总经理</td>
							</tr>
							<tr>
								<td>小可爱</td>
								<td>项目经理</td>
								<td>曾担任过阿里巴巴的员工</td>
							</tr>
							<tr>
								<td>刘雨欣</td>
								<td>宣传经理</td>
								<td>毕业于斯坦福大学，曾任百度公司宣传总监…</td>
							</tr>
							<tr>
								<td>陈嘉睿</td>
								<td>技术总监</td>
								<td>毕业于吉利学院，曾任垃圾负责人…</td>
							</tr>
							<tr>
								<td>姜于涵</td>
								<td>副总</td>
								<td>毕业于北京大学…</td>
							</tr>
							</tbody>
							<hr>
						</table>
						
						<p>在轩然物流，我们追求卓越，引领未来！我们致力于为客户提供卓越的物流解决方案，不断创新，协同合作，履行社会责任。我们相信卓越是改变和成功的关键。让我们携手共创未来！</p>
					</div>
					
					<div class="layui-col-md6">
						<ul class="layui-timeline">
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<h3 class="layui-timeline-title">7月19日</h3>
									<p>
										轩然物流管理项目的完善发布
										<br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
										<br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔
									</p>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<h3 class="layui-timeline-title">7月16日</h3>
									<p>轩然企业正式开通海外业务</p>
									<ul>
										<li>经过亚洲</li>
										<li>欧洲国家</li>
									</ul>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<h3 class="layui-timeline-title">7月12日</h3>
									<p>
										轩然企业正式启动海外项目
										<br>我们必将全力以赴，攻克难关
										<br>共创辉煌
										
									</p>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">过去</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			var contextPath = [[@{/}]];
		    layui.use(['element'], function(){
		          var element = layui.element;
		    });
		</script>
	</body>
</html>