<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.StashMapper">

    <resultMap id="BaseResultMap" type="com.system.pojo.Stash">
            <id property="stashId" column="stash_id" jdbcType="INTEGER"/>
            <result property="sName" column="s_name" jdbcType="VARCHAR"/>
            <result property="sArea" column="s_area" jdbcType="INTEGER"/>
            <result property="sAdress" column="s_adress" jdbcType="VARCHAR"/>
            <result property="cId" column="c_id" jdbcType="INTEGER"/>
            <result property="eName" column="e_name" jdbcType="VARCHAR"/>
            <result property="sTime" column="s_time" jdbcType="DATE"/>
            <result property="cTime" column="c_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        stash_id,s_name,s_area,
        s_adress,c_id,e_name,
        s_time,c_time
    </sql>
</mapper>
